{% extends 'base.html.twig' %}
{% block title %}Sujets {% endblock %}
{% block body %}
  <h2 class="mb-4">💬 My News Song</h2>

    <div class="list-group mb-3 shadow-sm">
      <a href="" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
          <small>Créé le </small>
        </div>
        <p class="mb-1"></p>
        <small>Par James Arthur</small>
      </a>
    </div>
    <div class="alert alert-secondary">Aucun sujet pour le moment.</div>
{% endblock %}
