{% extends 'base.html.twig' %}
{% block title %}Nouveau document{% endblock %}
{% block body %}
  <div class="container mt-4">
    <h1>📤 Envoyer un nouveau fichier</h1>

    {{ form_start(form) }}
      <button class="btn btn-success mt-2">Envoyer</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
